body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  background: linear-gradient(
    135deg,
    rgba(24, 42, 115, 0.8) 0%,
    rgba(33, 138, 174, 0.8) 69%,
    rgba(32, 167, 172, 0.8) 89%
  ) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
